@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
    --primary-color: #2b2927;
    --secondary-color: #282b5b;
    --accent1-color: #fca311;
    --accent2-color: #748ccc;
    --accent3-color: #ffffff; 

    --heading-font: 'mooli', sans-serif;
    --paragraph-font: 'open sans', sans-serif;

    --heading-font-color:var(--primary-color);
    --paragraph-font-color:var(--secondary-color);

    --nav-background-color: #fca311;
    --nav-link-color: #282b5b;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #748ccc;
}
body {
    font-family: var(--paragraph-font);
    margin: 20px;
    padding: 20px;   
 }
 h1, h2, h3, h4, h5, h6 {
     font-family: var(--heading-font);
     color: var(--primary-color);
 }
 h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
 }
 section img {
    display: block;
    margin-bottom: 10px;
}
 header {
     padding: 20px;
     background-color: var(--accent1-color);
 }
 p {
     padding: 25px;
     color: var(--secondary-color);
 }
 a {
    color: var(--nav-link-color);
    text-decoration: none;
 }
 .hero {
    position: relative;
    width: 100%;
 }
 .hero img {
    width: 100%;
    height: auto;
 }
h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent3-color);
    background-color: var(--secondary-color);
    width: 98%;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
 }
 article {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent3-color);
    padding: 20px;
    text-align: start;
    opacity: 0.8;
 }
article img {
    position: relative;
    float: right;
    width: 200px;
    height: 200px;
    left: 5px;
    top: 8px;
}
footer {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 10px 0;
    font-family: var(--heading-font);
}
.sociallinks img {
    width: 30px;
    margin: 0 10px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
    background-color: var(--accent1-color);
}
header img {
	width: 300px;
	height: auto; 
}
 .nav-links {
    list-style: none;
    display: flex; 
    justify-content: space-between; 
    padding: 0; 
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 200px;
}
.nav-links li {
    margin: 0;
}
.nav-links li a {
    text-decoration: none;  
    padding: 10px 20px; 
    border-radius: 5px; 
    color: var(--nav-link-color);
}
.nav-links li a:hover {
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}
.section1 {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.section1 img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}
.history-p {
    color: var(--accent3-color); /* adjust color later on words History header */
}
.history {
    position: absolute;
    top: 1230px;
    left: 61%;
    transform: translate(-50%, -50%);
}
.adventure {
    text-align: center;
}
  .section2 {
    background-color: var(--primary-color); /* adjust colors */
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
}
.adventure-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px; 
}
.adventure-images figure {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    max-width: 220px;
    width: 100%;
    box-sizing: border-box;
}
.adventure-images img {
    width: 100%;
    height: auto;
}
.adventure-images figcaption {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    font: var(--paragraph-font);
    padding: 5px;
    text-align: center;
}