@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
    --primary-color: #2b2927;
    --secondary-color: #282b5b;
    --accent1-color: #fca311;
    --accent2-color: #748ccc;
    --accent3-color: #ffffff; 

    --heading-font: 'mooli', sans-serif;
    --paragraph-font: 'open sans', sans-serif;

    --heading-font-color:var(--primary-color);
    --paragraph-font-color:var(--secondary-color);

    --nav-background-color: #fca311;
    --nav-link-color: #282b5b;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #748ccc;
}
body {
    font-family: var(--paragraph-font);
    margin: 20px;
    padding: 20px;   
 }
 h1, h2, h3, h4, h5, h6 {
     font-family: var(--heading-font);
     color: var(--primary-color);
 }
 .contact-h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    background: none;
    position: relative;
    top: 70px;
 }
 h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
 }
 section img {
    display: block;
    margin-bottom: 10px;
}
 header {
     padding: 20px;
     background-color: var(--accent1-color);
 }
 p {
     padding: 25px;
     color: var(--secondary-color);
 }
 a {
    color: var(--nav-link-color);
    text-decoration: none;
 }
 .hero {
    position: relative;
    width: 100%;
 }
 .hero img {
    width: 100%;
    height: auto;
 }
 .up-quote {
    width: 90%;
    text-align: center;
    top: 80%;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    padding: 8px;
 }
h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent3-color);
    background-color: var(--secondary-color);
    width: 98%;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
 }
 article {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent3-color);
    padding: 20px;
    text-align: start;
    opacity: 0.8;
 }
article img {
    position: relative;
    float: right;
    width: 200px;
    height: 200px;
    left: 5px;
    top: 8px;
}
footer {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 10px 0;
    font-family: var(--heading-font);
    justify-content: flex-end;
    align-items: center;
}
.footer {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 10px 0;
    font-family: var(--heading-font);
}
.footer-container {
    display: flex;
    justify-content: flex-end; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}
.sociallinks {
    display: flex;
    gap: 10px;
}
.sociallinks img {
    width: 30px;
    height: 30px;
}
.header-container {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0;
}
.nav-links li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--nav-link-color);
}
.nav-links li a:hover {
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}
.section1 {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.section1 img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}
.history-p {
    color: var(--accent3-color); /* adjust color later on words History header */
}
.history {
text-align: center;
color: var(--accent3-color);
}
.adventure {
    text-align: center;
}
  .section2 {
    background-color: var(--primary-color); /* adjust colors */
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
}
.adventure-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px; 
}
.adventure-images figure {
    display: flex; /* change the figure box names */
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    max-width: 220px;
    width: 100%;
    box-sizing: border-box;
}
.adventure-images img {
    width: 100%;
    height: auto;
}
.adventure-images figcaption {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font: var(--paragraph-font);
    padding: 5px;
    text-align: center;
}
.employee-profiles figcaption {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font: var(--paragraph-font);
    padding: 5px;
    text-align: center;
}
.contact-section {
    background-color: var(--primary-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
}
.contact-info {
    margin-bottom: 40px;
}
.employee-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.employee {
    text-align: center;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
    font-family: var(--heading-font);
    border-radius: 10px;
}
.contact-form input, .contact-form textarea, .contact-form select {
    width: 96%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}
.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: var(--secondary-color);
}
.contact-form button {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #00ff0d;
    color: var(--primary-color);
}
.contact-info {
    color: var(--accent1-color);
}
.employee p {
    color: var(--accent1-color);
}
.trip-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.trip-description article {
    flex: 0 0 30%;
    margin: 10px;
    padding: 15px;
    background-color:var(--accent1-color);
    border-radius: 10px;
    text-align: center;
}
.trip-description article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.trip-description article p {
    font-size: 1rem;
}
.trip-description article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.trip-table {
    margin-top: 20px;
}
.trip-table table {
    width: 100%;
    border-collapse: collapse;
}
.trip-table th, .trip-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--accent2-color);
}
.trip-table th {
    background-color: var(--accent1-color);
}
.trip-table tbody {
    background-color: var(--primary-color);
    color: var(--accent3-color);
}
.cta-button {
    text-align: center;
    margin-top: 20px;
}
.cta-button a {
    display: inline-block;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 15px 100px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 8px;
}
.cta-button a:hover {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
}
.trip-description {
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: var(--accent1-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.trip-description img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.trip-description h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.trip-description p {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.trip-description a {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.trip-description a:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}