@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
    --primary-color: #dad7cd;
    --secondary-color: #a3b18a;
    --accent1-color: #588157;
    --accent2-color: #3a5a40;
    --accent3-color: #344e41; 

    --hover-color: #00e1ff;

    --heading-font: 'mooli', sans-serif;
    --paragraph-font: 'open sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--primary-color);
    background: var(--primary-color);
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}
header {
    margin: 0 auto;
    width: 750px;
}
h1 {
    margin: 1rem;
    font-size: 1.7em;
    color: var(--accent1-color);
    text-align: center;
}
form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent3-color);
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 0.5rem; 
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
 }
.quiz-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}